form {
    display: flex;
    align-items: flex-end; /* Alinea los elementos por la parte inferior */
    gap: 1rem; /* Espacio entre los divs */
}

.subir {
    flex: 1; /* Ocupa todo el espacio disponible a la izquierda */
}

.titulo {
    color: #1B396B;
}
.btn-custom {
    background-color: #1B396B; 
    color: white;
    border: none;
    border-radius: 10px; 
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

    .btn-custom:hover {
        background-color: #1a2530; 
    }