form {
    display: flex;
    align-items: flex-end; /* Alinea los elementos por la parte inferior */
    gap: 1rem; /* Espacio entre los divs */
}

.subir {
    flex: 1; /* Ocupa todo el espacio disponible a la izquierda */
}

.btn-custom {
    background-color: #1B396B; /* Color oscuro elegante */
    color: white;
    border: none;
    border-radius: 10px; /* Esquinas bien redondeadas */
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

    .btn-custom:hover {
        background-color: #1a2530; /* Más oscuro al pasar el mouse */
    }