<link rel="stylesheet" href="~/css/Genera.css" />

<div class="contenido">
    <h1 class="titulo">Grafica de pastel</h1>

    <div class="cont">
        <!-- Contenido específico de la vista -->
    </div>
</div>
