
<link rel="stylesheet" href="~/css/Genera.css" />
<link rel="stylesheet" href="~/css/Inicio.css" />


<div class="contenido">
    <h1 class="titulo">Bienvenido</h1>


    <div class="cont">
        <div class="informacion">
            <p class="subTitulo">
                Misión
            </p>
            <p class="parrafo">
                Formar integralmente profesionales competitivos de la ciencia,
                la tecnología y otras áreas de conocimiento,
                comprometidos con el desarrollo económico,
                social, cultural y con la sustentabilidad del país.
            </p>
            <p class="subTitulo">
                Visión
            </p>
            <p class="parrafo">
                El TecNM es una institución de educación superior 
                tecnológica de vanguardia, con reconocimiento 
                internacional por el destacado desempeño de sus
                egresados y por su capacidad innovadora en la generación 
                y aplicación de conocimientos.
            </p>
        </div>

        <div class="Botones">
            <a href="/Alumnos/RegistroAlumno" class="btn-custom">Registrar alumno</a>
            <a href="/Alumnos/BuscarAlumnos" class="btn-custom">Buscar alumno</a>
            <a href="/Home/ExportarLista" class="btn-custom">Exportar lista de asistencia</a>
        </div>


    </div>
</div>
